# User Database configuration
USER_DB_USERNAME=userservice_user
USER_DB_PASSWORD=root
USER_DB_NAME=user_service_db

# Product Database configuration
PRODUCT_DB_USERNAME=productservice_user
PRODUCT_DB_PASSWORD=root
PRODUCT_DB_NAME=product_db

# Auth Database configuration
AUTH_DB_USERNAME=auth_user
AUTH_DB_PASSWORD=root
AUTH_DB_NAME=auth_db

# Common Database configuration
DB_PORT=5432